<footer class="footer bg-light py-3 mt-auto pt-5">
    <div class=" container footer d-flex justiy-content-center">
        <p class="text-muted" > &copy; Berry Harvest</p>
        <!-- <a class="text-muted" href="#" id="contact">Contact Us</a> -->
        <div id="socials">
            <i class="fab fa-facebook-square fa-2x" id="icons"></i>
            <i class="fab fa-instagram fa-2x" id="icons"></i>
            <i class="fab fa-twitter-square fa-2x" id="icons"></i>
        </div>
    </div>
  
</footer>
