<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="about_1_section mt-4">
            <img src="/images/pouringDrinks.png" id="pouringDrinks" alt="">
            <h4 id="header_1_about">Pouring Liquid Gold</h4>
            <p id="about_1_text">At Berry Harvest we understand that health is<br>wealth. That’s why we only use natural ingredients<br>to ensure we provide that extra boost!</p>
        </div>
        <div class="about_2_section">
            <img src="/images/milk_pour.png" id="pouringMilk" alt="">
            <h4 id="header_2_about">Pouring Liquid Gold</h4>
            <p id="about_2_text">We offer a collection of milk alternatives including <br> soya, coconut, cashew & almond</p>
        </div>
        <div class="about_3_section">
            <img src="/images/Kiwi.png" id="kiwi" alt="">
            <h4 id="header_3_about">Pouring Liquid Gold</h4>
            <p id="about_3_text">With vitamin C & B benefits you’ll never be never <br> short of the good stuff!</p>
        </div>
    </div>           
</div>