<% layout('layouts/boilerplate') %>

     <!-- Carousel start -->

     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/homepage1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1>Berry Harvest</h1><i class="fas fa-leaf" id="leafIcon"></i></a>
            <span><hr id="hrBanner"></span>
            <h2>Fruit Bar</h2>
            <a href="/menu" class="btn btn-outline-secondary" id="bannerButton">View Menu</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/passionFruit.png" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1 id="second_carousel_caption">Feel the fruity <span id="goodness_txt">Goodness!</span></h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/Lime.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>

    <!-- Carousel end -->

      <!-- bottom images -->

        <div class="colorContainer mt-5">
           <img class="orangeImg" src="/images/splashOrange.png" alt="splash Orange img">
           <img class="collectionDrinks" src="/images/collectionDrinks.png" alt="Collection Drinks">
           <h2 class="splashText">Find out what makes our juices boom!</h2>
           <a href="/berryharvest/newsletter" class="btn btn-outline-secondary border border-white divbutton">Sign Up!</a>
           <p class="bannerText">Sign up to our newsletter to receive the latest from us!</p>
        </div>

        <!-- bottom images end -->
     
