<% layout('layouts/boilerplate') %>

<h1 class="font-weight-bold text-center">Menu</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 m-4">
            <div class="card-wrapper">
               <div class="content">
                       <div class="face-front z-depth-2">
                           <img src="/images/SplashOrange02.png" class="rounded-circle m-2" width="150px" height="150px" alt="">
                            <div class="card-body">
                              <h4 class=" font-weight-bold">Splash Orange</h4>
                            </div>
                       </div>
                        <div class="face-back z-depth-2">
                              <div class="card-body">
                                  <h5 class="font-weight-bold">Ingredients</h5>
                                  <p> 2 Large Oranges</p>
                                  <p> 1 Bananas</p>
                                  <p> Coconut Milk</p>
                                  <p> Cinemon</p>
                                  <p>Umm...</p>
                               </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <div class="card-wrapper">
               <div class="content">
                       <div class="face-front z-depth-2">
                           <img src="/images/madMadness.png" class="rounded-circle m-2" width="150px" height="150px" alt="">
                            <div class="card-body">
                              <h4 class=" font-weight-bold">Mango Madness</h4>
                            </div>
                       </div>
                        <div class="face-back z-depth-2">
                              <div class="card-body">
                                  <h5 class="font-weight-bold">Ingredients</h5>
                                  <p> 2 Large Oranges</p>
                                  <p> 1 Bananas</p>
                                  <p> Coconut Milk</p>
                                  <p> Cinemon</p>
                                  <p>Umm...</p>
                               </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <div class="card-wrapper">
               <div class="content">
                       <div class="face-front z-depth-2">
                           <img src="/images/Berries.png" class="rounded-circle m-2" width="150px" height="150px" alt="">
                            <div class="card-body">
                              <h4 class=" font-weight-bold">Berry Boost</h4>
                            </div>
                       </div>
                        <div class="face-back z-depth-2">
                              <div class="card-body">
                                  <h5 class="font-weight-bold">Ingredients</h5>
                                  <p> 2 Large Oranges</p>
                                  <p> 1 Bananas</p>
                                  <p> Coconut Milk</p>
                                  <p> Cinemon</p>
                                  <p>Umm...</p>
                               </div>
                        </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3 m-4">
            <div class="card-wrapper">
               <div class="content">
                       <div class="face-front z-depth-2">
                           <img src="/images/pineapple.png" class="rounded-circle m-2" width="150px" height="150px" alt="">
                            <div class="card-body">
                              <h4 class=" font-weight-bold">Pineapple Vita</h4>
                            </div>
                       </div>
                        <div class="face-back z-depth-2">
                              <div class="card-body">
                                  <h5 class="font-weight-bold">Ingredients</h5>
                                  <p> 2 Large Oranges</p>
                                  <p> 1 Bananas</p>
                                  <p> Coconut Milk</p>
                                  <p> Cinemon</p>
                                  <p>Umm...</p>
                               </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <div class="card-wrapper">
               <div class="content">
                       <div class="face-front z-depth-2">
                           <img src="/images/Coconut.png" class="rounded-circle m-2" width="150px" height="150px" alt="">
                            <div class="card-body">
                              <h4 class=" font-weight-bold">Coco Wonder</h4>
                            </div>
                       </div>
                        <div class="face-back z-depth-2">
                              <div class="card-body">
                                  <h5 class="font-weight-bold">Ingredients</h5>
                                  <p> 2 Large Oranges</p>
                                  <p> 1 Bananas</p>
                                  <p> Coconut Milk</p>
                                  <p> Cinemon</p>
                                  <p>Umm...</p>
                               </div>
                        </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3 m-4">
            <div class="card-wrapper">
               <div class="content">
                       <div class="face-front z-depth-2">
                           <img src="/images/Avocado.jpg" class="rounded-circle m-2" width="150px" height="150px" alt="">
                            <div class="card-body">
                              <h4 class=" font-weight-bold">Green Machine</h4>
                            </div>
                       </div>
                        <div class="face-back z-depth-2">
                              <div class="card-body">
                                  <h5 class="font-weight-bold">Ingredients</h5>
                                  <p> 2 Large Oranges</p>
                                  <p> 1 Bananas</p>
                                  <p> Coconut Milk</p>
                                  <p> Cinemon</p>
                                  <p>Umm...</p>
                               </div>
                        </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3 m-4">
            <div class="card-wrapper">
               <div class="content">
                       <div class="face-front z-depth-2">
                           <img src="/images/Create_your_own.png" class="rounded-circle m-2" width="150px" height="150px" alt="">
                            <div class="card-body">
                              <h4 class=" font-weight-bold">Create Your Own</h4>
                            </div>
                       </div>
                        <div class="face-back z-depth-2">
                              <div class="card-body">
                                  <h5 class="font-weight-bold">Ingredients</h5>
                                  <p> 2 Large Oranges</p>
                                  <p> 1 Bananas</p>
                                  <p> Coconut Milk</p>
                                  <p> Cinemon</p>
                                  <p>Umm...</p>
                               </div>
                        </div>
                </div>
            </div>
        </div>          
    </div>
</div>


<div>
    <img src="/images/Milk Spill.png" id="bottom_splash" alt="">
</div>